.cart-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    padding: var(--space-5);
}

.cart-items h1 {
    margin-bottom: var(--space-4);
}

/* Tablet */
@media (min-width: 768px) {
    .cart-container {
        flex-direction: row;
    }

    .cart-items {
        flex: 2;
    }

    .cart-summary {
        flex: 1;
    }
}